* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #3C3C3C;
}

body {
  animation: drop 1.5s ease;
  background-color: #FFD59B;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}




/* navigation */
header {
  padding: 20px 15 20 15;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.icons {
  width: 15px;
}

.logo {
  display: flex;
  width: 25px;
  padding-left: auto;
}

.logo img {
  width: 25px;
}

nav div {
  margin-right: auto;
}

header p {
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-self: center;
  padding-left: 2px;
  font-family: 'palatino', serif;
  letter-spacing: -0.2;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 5px;
}


/* navigation end */

/* body */


main {
  padding: 20 20 60 20;
}

main picture img {
  width: 100%;
}

.cursive {
  font-style: italic;
}

h1 {
  font-family: 'optima', serif;
  font-weight: lighter;
  padding: 40px 0 10 0;
  font-size: 25px;
  max-width: 400px;
  letter-spacing: -2;
}

h2,
h3 {
  font-family: 'optima', serif;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: -0.5;
  padding: 10 0 10 0;
  font-size: 10px;
}

h2 {
  padding-top: 30px;
}

h3 {
  padding-top: 45px;
}

.projectwrapper {
  background-color: #5A5349;
}

.projectwrapper p {
  color: #FFD59B;
  padding-bottom: 30px;
}

.projectwrapper h3 {
  color: #FFD59B;
  padding: 20px;
}

.project {
  font-family: 'optima', serif;
  font-weight: lighter;
  padding: 20px 0 10 0;
  font-size: 20px;
  white-space: nowrap;
}

.projectwrapper div {
  padding: 20px;
}

.projectwrapper video {
  width: 100%;
}

.projectwrapper img {
  width: 100%;
}

i {
  color: #FFD59B;
}

body p {
  font-family: 'Helvetica', sans-serif;
  max-width: 400px;
  font-weight: lighter;
  letter-spacing: -0.5;
}

/* body */

/* footer */

footer {
  background-color: #3C3C3C;
  padding: 40px 0 40 0;
  display: flex;
  align-items: center;
}


.footerlinks a {
  padding-right: 10px;
}

.footer-item {
  margin-right: auto;
  padding-left: 20px;
}



footer h4 {
  color: white;
  padding: 0 0 20 0;
  font-family: 'palatino', serif;
  font-weight: bold;
  font-size: large;
}

footer a:nth-child(n+1):nth-child(n+2) {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.ftlogo {
  width: 70px;
  margin-right: 20px;
}



@media only screen and (min-width: 470px) {
  main picture img {
    max-width: 50%;
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section div {
    display: flex;
    flex-direction: row;
  }

  h1 {

    font-size: 35px;
    max-width: 60%;
  }

  h2,
  h3 {
    font-size: 10px;
  }

  h2 {
    padding-top: 0;
  }

  h3 {
    padding-top: 0;
  }

  section div {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }

  section div p {
    padding: 0 0 90 90;
  }

  .projectwrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20 20 20 0;
  }

  .projectwrapper img {
    width: 60%;
  }

  .projectwrapper video {
    width: 60%;
    padding-top: 10%;
  }

  .projectwrapper div p {
    padding: 20 20 20 0;
  }

  .project {
    padding-right: 100%;
  }

  main picture {
    padding-left: 10%;
  }

  body main section:nth-child(n+2) {
    padding-top: 70px;
  }

  footer {
    justify-content: space-around;
  }

  .footer-item {
    margin-right: 0;
    padding-left: 0;
  }

}


@media only screen and (min-width: 1000px) {

  main picture img {
    width: 40%;
  }

  h1 {

    font-size: 70px;
    max-width: 80%;
  }

  h2,
  h3 {
    font-size: 25px;
  }

  body p {
    max-width: 60%;
  }

  section div {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }

  section div p {
    font-size: 50px;
  }

  .projectcomponent p {
    align-self: center;
  }


  footer {
    justify-content: flex-end;
  }

}